github "apple/swift-protobuf" == 1.4.0
github "facebook/SocketRocket" == 0.4.2
github "ReSwift/ReSwift" == 4.1.1
github "Dimon70007/TrueTime.swift" "ad0e0a954e34552f0dd23aa825d28800d28aa114"
github "antitypical/Result" == 4.1.0
